.inputContent {
    display: flex;
    flex-direction: column;
    width:350px;
    .label {
        color: var(--black);
        font-size: 1rem;
        font-weight: 400;
    }

    .input {
        border: none;
        width:100%;
        border-bottom: 2px solid var(--blue-light);
        background: none;
        padding: 0.8rem 0.4rem 0.4rem;
        color: var(--black);
        font-size: 1.25rem;
        font-weight: normal;
        margin-bottom:0.8rem;
        
        &::placeholder {
            color: var(--gray);
            font-size: 1rem;
            font-weight: normal;
            filter: brightness(0.9);
        }
    }

    .error{
        color:red;
    }
}

