.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25rem;
    height:38rem;
    padding: 2.5rem 2rem;
    background: var(--white-100);
    border-radius: 16px;

    h1 {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: var(--black);
        margin-top: 0.75rem;
        padding-bottom: 4rem;
    }

    a {
        color: var(--blue-light);
        font-size: 0.8rem;
        margin-bottom: 0.8rem;

         &:hover {
           filter: brightness(0.8);
         }
    }

    
}